.container-fluid{
    background: #0a212c;
    color: darken(white, 10%);
}
.pre-footer-links{
    border: 1px solid white;
}
.pre-footer-links li{
    list-style: none;
    text-align: left;
}
.pre-footer-links a{
    color: darken(white, 10%);
}
