
html{
	box-sizing: border-box;
}
*, *:before *:after{
	box-sizing: inherit;
}
// clearfix
//
.group:before,
.group:after{
	content: " ";
	display: table;
}
.group:after{
	clear: both;
}
.group{
	*zoom: 1;
}


body {
	max-width: 100%;
	color: #2a2a2a;

	font-size: 100%;
	font-family: $font-family;

    background: $color-bg;
}

a {
	text-decoration: none;
	transition: .5s all ease-in-out;
}

img {
	max-width: 100%;
	height: auto;
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

.back-to-top{
	padding: 2.5em;//4 /* 10/4 */
	color: black;
	background: red;
	cursor: pointer;
	position: fixed;
	font-size: 20px; /* 4/16 */
	bottom: 3.75em;//4 /* 15/4 */
	right: 5em;//4 /* 20/4 */
	z-index: 3;
	opacity: .7;
}
.back-to-top:hover, :focus{
	opacity: 1;
}

/*MEDIA QUERIES*/
