

/*REFERENCIE*/

.referencie-img img{
    margin-right: 3.125em;
}
.referencie h4{
    margin: 0;
}
.referencie-heading{
    color: $color-links;
    font-weight: bold;
}
.referencie p{
    margin-top: 1.875em;
}