$font-family: 'Rajdhani', sans-serif;

$color-text: lighten(black, 30%);

$color-bg: darken(white,3%);
$color-prefooter: #2f313c;
$color-footer: #8c95ad;;
$color-links: #16ac80;
$color-introduction: darken(#E85A4F, 20%);
$color: #E98074;
$color-sel: #FCBD24;


$width-sm: 576px;
$width-md: 768px;
$width-lg: 992px;
$width-xl: 1200px;